<%- include("partials/header") %>

<section id="header-section">
  <div class="container-fluid" id="global-container-fluid">
    <!-- Nav Bar -->
    <%- include("partials/nav-signed") %>
    <!-- Title -->
    <div class="title-row" style="padding-bottom: 2%;">
        <div id="div-profile-img">
            <% if(src === null) {%>
                <img class="img-profile" src="images/profile-placeholder.png" alt="">
                <% } else { %>
                <img class="img-profile" src= <%= src %>>
                <% } %>
        </div>
        <div id="div-img-btns" style="display: none;">
            <button id="btn-img-update" class="btn btn-outline-light">Update</button>
            <button id="btn-img-delete" class="btn btn-outline-danger">Delete</button>
            <form id="form-img-update" method="post" action="/profile/upload-photo" enctype="multipart/form-data" style="position: absolute; left: -9999px;">
                <input type="file" id="image" name="file">
            </form>
            <form id="form-img-delete" method="post" action="/profile/delete-photo" style="position: absolute; left: -9999px;"></form>
        </div>
        <div style="margin: 1% auto;">
            <h3 id="h3-name"><%=name%></h3>
            <input class="form-control" id="input-name" type="text" style="display:none">    
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <textarea disabled class="form-control" id="textarea-bio"><%=bio%></textarea>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-light" id="btn-edit-save">Edit</button>
            </div>
        </div>
    </div>
  </div>
</section>

<span style="display: none" id="user-sections"><%=sections%></span>

<div class="jumbotron jumbotron-fluid" style="padding: 3% 10% 0%;">
    <div class="container" style="text-align: center">
        <div>
            <label for="profile-link" style="color: #198754">Profile Link:</label>
            <textarea id="profile-link" type="text" class="form-control btn-success" disabled rows="1"><%=profileLink%></textarea>
        </div>
        <!-- <button id="btn-download" class="btn btn-outline-success" style="margin-top: 10px;">
            <a href="/profile/visit" target="_blank" rel="noopener noreferrer">
                Download as PDF
            </a>
        </button> -->
    </div>
</div>

<h1 class="display-4" style="text-align: center;">.......</h1>

<div class="jumbotron jumbotron-fluid" style="padding: 2% 10% 0%;">
    <div class="container">
        <p class="lead" id="p-loading-top" style="display: none; text-align: center;">Loading...</p>
        <h1 class="display-5 container-h1" style="margin-bottom: 3%;">Projects</h1>
        <p class="lead" id="p-loading-project" style="display: none;">Loading...</p>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom: 2%;">
            <div class="col" id="div-create-project">
                <div id="card-create-project" class="card div-card" style="width: 100%;">
                    <div class="card-body">
                        <form action="">
                            <input    id="title-project"          name="inputCardTitleProject"          class="form-control input-card-title" type="text" placeholder="Title" required>
                            <textarea id="description-project" name="textareaCardDescriptionProject" class="form-control textarea-card-description"  rows="3" placeholder="Description" required></textarea>
                            <input    id="datetime-project"       name="inputCardDatetimeProject"       class="form-control input-card-datetime" type="text" placeholder="Date and Time" required>
                            <input    id="url-project"            name="inputCardUrlProject"            class="form-control input-card-url" type="url" placeholder="Link" required>
                            <p id="p-invalid-project" class="p-invalid-inputs">Error</p>
                            <button   id="project" class="btn btn-primary btn-card-create" type="button">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="display-4" style="text-align: center;">.......</h1>

<div class="jumbotron jumbotron-fluid" style="padding: 2% 10% 0%;">
    <div class="container">
        <h1 class="display-5 container-h1" style="margin-bottom: 3%;">Experiences</h1>
        <p class="lead" id="p-loading-experience" style="display: none;">Loading...</p>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom: 2%;">
            <div class="col" id="div-create-experience">
                <div id="card-create-experience" class="card div-card" style="width: 100%;">
                    <div class="card-body">
                        <form action="">
                            <input    id="title-experience"          name="inputCardTitleExperience"          class="form-control input-card-title" type="text" placeholder="Title" required>
                            <textarea id="description-experience"    name="textareaCardDescriptionExperience" class="form-control textarea-card-description"  rows="3" placeholder="Description" required></textarea>
                            <input    id="datetime-experience"       name="inputCardDatetimeExperience"       class="form-control input-card-datetime" type="text" placeholder="Date and Time" required>
                            <input    id="url-experience"            name="inputCardUrlExperience"            class="form-control input-card-url" type="url" placeholder="Link" required>
                            <p id="p-invalid-experience" class="p-invalid-inputs">Error</p>
                            <button   id="experience" class="btn btn-primary btn-card-create" type="button">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="display-4" style="text-align: center;">.......</h1>

<div class="jumbotron jumbotron-fluid" style="padding: 2% 10% 0%;">
    <div class="container">
        <h1 class="display-5 container-h1" style="margin-bottom: 3%;">Education</h1>
        <p class="lead" id="p-loading-education" style="display: none;">Loading...</p>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-bottom: 2%;">
            <div class="col" id="div-create-education">
                <div id="card-create-education" class="card div-card" style="width: 100%;">
                    <div class="card-body">
                        <form action="">
                            <input    id="title-education"          class="form-control input-card-title"           type="text" placeholder="Title" required>
                            <textarea id="description-education"    class="form-control textarea-card-description"  rows="3" placeholder="Description" required></textarea>
                            <input    id="datetime-education"       class="form-control input-card-datetime"        type="text" placeholder="Date and Time" required>
                            <input    id="url-education"            class="form-control input-card-url"             type="url" placeholder="Link" required>
                            <p id="p-invalid-education" class="p-invalid-inputs">Error</p>
                            <button   id="education" class="btn btn-primary btn-card-create" type="button">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="display-4" style="text-align: center;">.......</h1>

<div id="div-create-section" style="padding: 4% 7%; text-align: center;">
    <input type="text" id="create-section-title" placeholder="Section Title">
    <button class="btn btn-primary" id="btn-create-section">Create</button>
    <p id="p-create-section" style="display: none; color: red;"><br>Section title must be contain more than 4 characters</p>
</div>

<%- include("partials/social-links") %>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- My jQuery -->
<script type="text/javascript" src="javascript/profile.js"></script>

<%- include("partials/footer") %>